name: Behave Test
on:
  push:
    branches: "main"
jobs:
  behave-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install behave selenium behave-webdriver

      - name: Run amazon
        working-directory: ./amazon
        run: behave

      - name: Run utahtech
        working-directory: ./utahtech
        run: behave